.App {
  text-align: center;
}

.Counter {
  width: 500px;
  height: 400px;
  border: 3px solid #63dafc;
  margin: auto;
  top: 150px;
  position: relative;
  text-align: center;
}

.Counter-screen {
  width: 400px;
  height: 200px;
  background-color: #63dafc;
  margin: auto;
  top: 30px;
  left: 50px;
  position: absolute;
  line-height: initial;
  font-size: 120px;
}

.Button-area {
  width: 400px;
  height: 100px;
  margin: auto;
  bottom: 30px;
  left: 50px;
  border: 3px solid #63dafc;
  position: absolute;
}

.Increase {
  width: 80px;
  height: 25px;
  margin: 20px;
  background-color: silver;
}
.Reset {
  width: 80px;
  height: 25px;
  margin: 20px;
  background-color: silver;
}